.App {
  text-align: center;
  margin-top: 40px;
  width: 80%;
  margin: 20px auto;
}

.parent {
  display: flex;
}

.left{ 
  width: 70%;
  margin-top: 10px;
  margin-right: 5%;
}

.right {
  width: 25%;
}